<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qfedu.man.dao.HomeDao">
    <select id="findAll" resultType="com.qfedu.man.entity.Stylist">
        select * from m_stylist
    </select>
</mapper>